body{
    margin: 0;
    background: url(https://media.istockphoto.com/id/490043254/es/foto/bosque.jpg?s=2048x2048&w=is&k=20&c=Xx8EbE1fSVJVibTJ8N4QGfopQqScHOuz3g-LwrZS0v0=);
    background-color: rgb(225, 225, 222);
    background-blend-mode: overlay;
    background-size: 450%;
    }

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: sticky;
    padding: 10px;
    border-bottom: 4px solid  rgb(98, 96, 96);

    & img{
        width: 100px;
        padding: 20px;
        margin-top: 25px;
     
    }

    .menu-cv{
        padding: 30px;

        & a{
            text-decoration: none;
            padding: 5px;
            color: rgb(98, 96, 96);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        & a:hover{
            color: brown;
            font-weight: 600;
            border-bottom: 2px solid brown;
            
        }
    }

}

.pagina-principal{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(98, 96, 96);
    
    & h1{
        margin-top: 80px;
    }

    & p{
        font-size: medium;
        width: 80%;
        text-align: justify;
        text-align-last: justify;

    }

    & a{
        text-decoration: none;
        color: rgb(198, 193, 193);
        padding: 10px;
        background-color: rgb(109, 23, 23);
        border-style: solid;
        border-color: color: rgb(98, 96, 96);
        border-width: 1px;
        border-radius: 15px;
        margin-top: 50px;
        
    }
    
    & a:hover{
            background-color: grey;
            color: brown;
            font-weight: 600;
            
    }
}

h2{
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    background-color:rgb(109, 23, 23);
    color:  rgb(198, 193, 193);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 5px;
    border: solid;
    border-width: 2px;
    border-right-width: 0;
    border-left-width: 0;
}

.formacion{
    height: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: rgb(89, 87, 87);
    & ul{
        margin-top: 30px;
    }
}

.contenedor-trabajos{
     color: rgb(89, 87, 87);

    & .experiencia{
        background-color: rgb(237, 237, 231);
        padding: 3%;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        margin-bottom: 5%;
        margin-top: 3%;
        margin-right: 3%;
        margin-left: 3%;
        border-radius: 15px;
        box-shadow: 5px 5px 1px 1px rgb(109, 23, 23);
        display: flex;
        align-items:center;
        gap: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
        & h4{
            text-decoration: underline;
        }
        
        & p{
            font-size: small;
        }
        & img{
            width: 100px;
            border-radius: 15px;
            }
        & a{
            font-size: small;
             }
                }
                   }
.otros{
    height: 30vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: rgb(89, 87, 87);
    & ul{
        margin-top: 30px;
        line-height:20px;
        }
        }
   

